old-target - Copy/ITSService3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.StandardBank.ge/WebServices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://schemas.StandardBank.ge/WebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.StandardBank.ge/WebServices/">
      <s:element name="GetClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientResult" type="tns:ITSResultClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ITSResultClient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clients" type="tns:ArrayOfClient" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Client">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CLIENT_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PERSONAL_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TAX_INSP_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPT_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IS_VIP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCreditLineById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="creditLineId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditLineByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCreditLineByIdResult" type="tns:ITSResultCreditLine" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ITSResultCreditLine">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreditLines" type="tns:ArrayOfCreditLine" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCreditLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CreditLine" nillable="true" type="tns:CreditLine" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CreditLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AGREEMENT_NO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AMOUNT" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CCY" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="START_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="END_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="STATE" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CREDIT_LINE_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BRANCH_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENT_ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCreditLineByAgrNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="creditLineAgreementNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditLineByAgrNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCreditLineByAgrNoResult" type="tns:ITSResultCreditLine" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditLinesByEndDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="from" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="to" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditLinesByEndDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCreditLinesByEndDateResult" type="tns:ITSResultCreditLine" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoanById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loanId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoanByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoanByIdResult" type="tns:ITSResultLoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ITSResultLoan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Loans" type="tns:ArrayOfLoan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLoan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Loan" nillable="true" type="tns:Loan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Loan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AGREEMENT_NO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AMOUNT" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CCY" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="START_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CLOSE_DATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="STATE" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CREDIT_LINE_ID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OP_TYPE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LOAN_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BRANCH_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENT_ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLoanByAgrNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agreementNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoanByAgrNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoanByAgrNoResult" type="tns:ITSResultLoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoansByCreditLineId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="creditLineId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoansByCreditLineIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoansByCreditLineIdResult" type="tns:ITSResultLoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoansByCreditLineAgrNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="creditLineAgreementNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoansByCreditLineAgrNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoansByCreditLineAgrNoResult" type="tns:ITSResultLoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoanByCloseDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="from" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="to" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoanByCloseDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoanByCloseDateResult" type="tns:ITSResultLoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartments">
        <s:complexType />
      </s:element>
      <s:element name="GetDepartmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentsResult" type="tns:ITSResultDepartment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ITSResultDepartment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Departments" type="tns:ArrayOfDepartment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDepartment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Department" nillable="true" type="tns:Department" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Department">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DEPT_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIP" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetClientSoapIn">
    <wsdl:part name="parameters" element="tns:GetClient" />
  </wsdl:message>
  <wsdl:message name="GetClientSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditLineByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetCreditLineById" />
  </wsdl:message>
  <wsdl:message name="GetCreditLineByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditLineByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditLineByAgrNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCreditLineByAgrNo" />
  </wsdl:message>
  <wsdl:message name="GetCreditLineByAgrNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditLineByAgrNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditLinesByEndDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetCreditLinesByEndDate" />
  </wsdl:message>
  <wsdl:message name="GetCreditLinesByEndDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditLinesByEndDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoanByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoanById" />
  </wsdl:message>
  <wsdl:message name="GetLoanByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoanByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoanByAgrNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoanByAgrNo" />
  </wsdl:message>
  <wsdl:message name="GetLoanByAgrNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoanByAgrNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoansByCreditLineIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoansByCreditLineId" />
  </wsdl:message>
  <wsdl:message name="GetLoansByCreditLineIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoansByCreditLineIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoansByCreditLineAgrNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoansByCreditLineAgrNo" />
  </wsdl:message>
  <wsdl:message name="GetLoansByCreditLineAgrNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoansByCreditLineAgrNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoanByCloseDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoanByCloseDate" />
  </wsdl:message>
  <wsdl:message name="GetLoanByCloseDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoanByCloseDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITSServiceSoap">
    <wsdl:operation name="GetClient">
      <wsdl:input message="tns:GetClientSoapIn" />
      <wsdl:output message="tns:GetClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditLineById">
      <wsdl:input message="tns:GetCreditLineByIdSoapIn" />
      <wsdl:output message="tns:GetCreditLineByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditLineByAgrNo">
      <wsdl:input message="tns:GetCreditLineByAgrNoSoapIn" />
      <wsdl:output message="tns:GetCreditLineByAgrNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditLinesByEndDate">
      <wsdl:input message="tns:GetCreditLinesByEndDateSoapIn" />
      <wsdl:output message="tns:GetCreditLinesByEndDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoanById">
      <wsdl:input message="tns:GetLoanByIdSoapIn" />
      <wsdl:output message="tns:GetLoanByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoanByAgrNo">
      <wsdl:input message="tns:GetLoanByAgrNoSoapIn" />
      <wsdl:output message="tns:GetLoanByAgrNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoansByCreditLineId">
      <wsdl:input message="tns:GetLoansByCreditLineIdSoapIn" />
      <wsdl:output message="tns:GetLoansByCreditLineIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoansByCreditLineAgrNo">
      <wsdl:input message="tns:GetLoansByCreditLineAgrNoSoapIn" />
      <wsdl:output message="tns:GetLoansByCreditLineAgrNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoanByCloseDate">
      <wsdl:input message="tns:GetLoanByCloseDateSoapIn" />
      <wsdl:output message="tns:GetLoanByCloseDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:input message="tns:GetDepartmentsSoapIn" />
      <wsdl:output message="tns:GetDepartmentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ITSServiceSoap" type="tns:ITSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClient">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditLineById">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetCreditLineById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditLineByAgrNo">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetCreditLineByAgrNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditLinesByEndDate">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetCreditLinesByEndDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanById">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetLoanById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanByAgrNo">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetLoanByAgrNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoansByCreditLineId">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetLoansByCreditLineId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoansByCreditLineAgrNo">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetLoansByCreditLineAgrNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanByCloseDate">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetLoanByCloseDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ITSServiceSoap12" type="tns:ITSServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClient">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditLineById">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetCreditLineById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditLineByAgrNo">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetCreditLineByAgrNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditLinesByEndDate">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetCreditLinesByEndDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanById">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetLoanById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanByAgrNo">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetLoanByAgrNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoansByCreditLineId">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetLoansByCreditLineId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoansByCreditLineAgrNo">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetLoansByCreditLineAgrNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanByCloseDate">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetLoanByCloseDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ITSService">
    <wsdl:port name="ITSServiceSoap" binding="tns:ITSServiceSoap">
      <soap:address location="http://10.213.0.136:4444/ITSService.asmx" />
    </wsdl:port>
    <wsdl:port name="ITSServiceSoap12" binding="tns:ITSServiceSoap12">
      <soap12:address location="http://10.213.0.136:4444/ITSService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>