old-target - Copy/classes/ITSService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.StandardBank.ge/WebServices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://schemas.StandardBank.ge/WebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.StandardBank.ge/WebServices/">
      <s:element name="GetClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientResult" type="tns:ITSResultClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ITSResultClient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clients" type="tns:ArrayOfClient" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Client">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CLIENT_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PERSONAL_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TAX_INSP_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DEPT_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IS_VIP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGeneralContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gcNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGeneralContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGeneralContractResult" type="tns:ITSResultGeneralContract" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ITSResultGeneralContract">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneralContracts" type="tns:ArrayOfGeneralContract" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGeneralContract">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GeneralContract" nillable="true" type="tns:GeneralContract" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeneralContract">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AGREEMENT_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AMOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CCY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="START_DATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CREDIT_LINE_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BRANCH_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENT_ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLoan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoanResult" type="tns:ITSResultLoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ITSResultLoan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Loans" type="tns:ArrayOfLoan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLoan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Loan" nillable="true" type="tns:Loan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Loan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AGREEMENT_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AMOUNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CCY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="START_DATE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OP_TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LOAN_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BRANCH_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENT_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CREDIT_LINE_ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLoansByCloseDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="closeDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoansByCloseDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoansByCloseDateResult" type="tns:ITSResultLoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGeneralContractsByCloseDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="closeDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGeneralContractsByCloseDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGeneralContractsByCloseDateResult" type="tns:ITSResultGeneralContract" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartments">
        <s:complexType />
      </s:element>
      <s:element name="GetDepartmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentsResult" type="tns:ITSResultDepartment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ITSResultDepartment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Departments" type="tns:ArrayOfDepartment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDepartment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Department" nillable="true" type="tns:Department" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Department">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DEPT_NO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIP" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetClientSoapIn">
    <wsdl:part name="parameters" element="tns:GetClient" />
  </wsdl:message>
  <wsdl:message name="GetClientSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientResponse" />
  </wsdl:message>
  <wsdl:message name="GetGeneralContractSoapIn">
    <wsdl:part name="parameters" element="tns:GetGeneralContract" />
  </wsdl:message>
  <wsdl:message name="GetGeneralContractSoapOut">
    <wsdl:part name="parameters" element="tns:GetGeneralContractResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoanSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoan" />
  </wsdl:message>
  <wsdl:message name="GetLoanSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoanResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoansByCloseDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoansByCloseDate" />
  </wsdl:message>
  <wsdl:message name="GetLoansByCloseDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoansByCloseDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetGeneralContractsByCloseDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetGeneralContractsByCloseDate" />
  </wsdl:message>
  <wsdl:message name="GetGeneralContractsByCloseDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetGeneralContractsByCloseDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITSServiceSoap">
    <wsdl:operation name="GetClient">
      <wsdl:input message="tns:GetClientSoapIn" />
      <wsdl:output message="tns:GetClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGeneralContract">
      <wsdl:input message="tns:GetGeneralContractSoapIn" />
      <wsdl:output message="tns:GetGeneralContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoan">
      <wsdl:input message="tns:GetLoanSoapIn" />
      <wsdl:output message="tns:GetLoanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoansByCloseDate">
      <wsdl:input message="tns:GetLoansByCloseDateSoapIn" />
      <wsdl:output message="tns:GetLoansByCloseDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGeneralContractsByCloseDate">
      <wsdl:input message="tns:GetGeneralContractsByCloseDateSoapIn" />
      <wsdl:output message="tns:GetGeneralContractsByCloseDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:input message="tns:GetDepartmentsSoapIn" />
      <wsdl:output message="tns:GetDepartmentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ITSServiceSoap" type="tns:ITSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClient">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneralContract">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetGeneralContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoan">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetLoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoansByCloseDate">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetLoansByCloseDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneralContractsByCloseDate">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetGeneralContractsByCloseDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ITSServiceSoap12" type="tns:ITSServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClient">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneralContract">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetGeneralContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoan">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetLoan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoansByCloseDate">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetLoansByCloseDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneralContractsByCloseDate">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetGeneralContractsByCloseDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap12:operation soapAction="http://schemas.StandardBank.ge/WebServices/GetDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ITSService">
    <wsdl:port name="ITSServiceSoap" binding="tns:ITSServiceSoap">
      <soap:address location="http://10.213.0.136:4444/ITSService.asmx" />
    </wsdl:port>
    <wsdl:port name="ITSServiceSoap12" binding="tns:ITSServiceSoap12">
      <soap12:address location="http://10.213.0.136:4444/ITSService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>